################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solucja/ConsoleApplication2/obj/Debug
/Solucja/ConsoleApplication2/bin/Debug
/Solucja/1. Program - drzewko/obj/Debug
/Solucja/1. Program - drzewko/bin/Debug
